[Unit]
Description=To Run Node.js Application
After=network.target cloud-init.service
Wants=cloud-init.service

[Service]
EnvironmentFile=/opt/csye6225/.env
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/csye6225
ExecStart=/usr/bin/node /opt/csye6225/server.js
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target